body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,html,#root{
  width:100%;
  background: #f7f7f7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img{
  display: block;
}

.flex-column{
   display: flex;
   flex-direction: column;
}
.flex-row{
   display: flex;
   flex-direction: row;
}
.flex-spacebetween{
   justify-content: space-between;
   align-items: center;
}

.colortips{
   color:#999999;
}

.padleftright{
   box-sizing: border-box;
   padding-left:.26rem;
   padding-right:.26rem;
}

.arrow_right{
  content:'';
  width: .16rem;
  height: .16rem;
  border-top: .021rem solid #333;
  border-right: .021rem solid #333;
  transform: rotate(45deg);
}

.textOneLineHide{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

.textTwoLineHide{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.textThreeLineHide{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.am-tabs-default-bar-tab {
    height: .8rem;
    line-height: .8rem;
}
.am-picker-popup-item {
    color: #108ee9;
    font-size: .34rem;
    padding: .1rem .2rem;
    height: .75rem;
}
.am-toast-notice-content .am-toast-text.am-toast-text-icon {
    min-width: 2rem;
    border-radius: 3px;
    color: #fff;
    background-color: rgba(58, 58, 58, 0.9);
    line-height: 1.5;
    padding: .24rem .23rem;
}
.am-icon-lg {
    width: .8rem;
    height: .8rem;
}
.am-toast{
  font-size:.26rem;
}
